@import "./index.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  // transition: 0.3s;
}

.container.container {
  border: 1px solid white;
  border-radius: 8px;
  padding: 24px;
}

.form_link {
  color: cornflowerblue;
  cursor: pointer;
  text-decoration: underline;
}
